<ul id="authored">
      <% for(var i=0; i<authored.length; i++) {%>
          <% var b = authored[i].dataValues; %>
          <li>
            <a href="/api/blog/<%= b.id %>"><%= b.name %></a>
          </li>
        <% } %>
</ul>