<!DOCTYPE html>
<html>
  <head>
    <title>Tamplr</title>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script>
        $(document).ready(function() {
        $('#ajaxCreataUser').on('submit', function(e){
            //alert("taalla");
          //prevent normal submit
          e.preventDefault();
          e.returnValue = false;
          
          //Read form
          var userName = $("#username").val();
          var realName = $("#real_name").val();
          var pswrd = $("#password").val();
          
          $.ajax({
              url: 'http://localhost:3000/api/user',
              type: 'POST',
              contentType: 'application/json',
              dataType: 'json',
              data: JSON.stringify({name: realName, username: userName, password: pswrd }),
              
              success: function(data)
              {
                  console.log("data: ", data);
                  // res
                   $("#resCreateUser").html("Käyttäjän lisääminen onnistui!");
                   $("#resCreateUser").show().delay(5000).fadeOut();
                   location.href = "/"; 

              },
              error: function(data)
              {
                  console.log("error data: ", data);
                  $("#resCreateUser").html("Käyttäjän lisääminen ei onnistunut!");
                  $("#resCreateUser").show().delay(5000).fadeOut();
                  //err
              }
          });
        });
          
      });
     </script>
     </head>
  <body>
      <div class="banner" align="right">
          <table style="width: 100%"><th style="text-align: left"><a href="/" style="text-decoration: none"><div class="tamplr-logo-small">tamplr</a></div></th><th style="text-align: right"></th></table>
          </div>
    <h1 class="tamplr-logo">tamplr - REGISTER</h1>
    <h2>Give your information</h2>
    
    <!--HTML forms are used to collect user input.-->
    <form name="ajaxCreataUser" id="ajaxCreataUser" action="http://localhost:3000/api/user" method="post">
    Username: <input id="username" type="text" name="username" value=""><br>
    Real name: <input id="real_name" type="text" name="real_name" value=""><br>
    Password: <input id="password" type="text" name="password" value=""><br>
    <input type="submit" value="Post!"><br><br>
    </form>
     <div class="message" id="resCreateUser"></div>


  </body>
</html>