<!DOCTYPE html>
  <head>
  <head>
    <title>Tamplr</title>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
      <div class="banner" align="right">
      <table style="width: 100%"><th style="text-align: left"><a href="/" style="text-decoration: none"><div class="tamplr-logo-small">tamplr</a></div></th><th style="text-align: right"></th></table>
      </div>
    <h1 class="tamplr-logo">tamplr - REGISTER</h1>
    <form action="/login" method="post">
    <div>
        <label>Kayttaja:</label>
        <input type="text" name="username"/>
    </div>
    <div>
        <label>Salasana:</label>
        <input type="password" name="password"/>
    </div>
    <div>
        <input type="submit" value="Kirjaudu"/>
    </div>
</form>

</div>

</div>
</body>