<!DOCTYPE html>

  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Tamplr - Kirjaudu sisään</title>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
       <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel='stylesheet' href='/stylesheets/style.css' />
      
      <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
      <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<body>
      <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><div class="tamplr-logo-small">tamplr</div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          <li><a href="/login">Kirjaudu sisään</a></li>
          <li><a href="/register">Luo uusi tili</a></li>
      </ul>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    
    <div class="container">
    <h1 class="tamplr-logo">tamplr</h1>
    
    <form action="/login" method="post">
    <div class="form-group">
        <label>Käyttäjä:</label>
        <input type="username"  class="form-control" name="username" placeholder="Syötä käyttäjätunnus"/>
    </div>
    <div class="form-group">
        <label>Salasana:</label>
        <input type="password"  class="form-control" name="password" placeholder="Syötä salasana"/>
    </div>
    <div>
        <input type="submit" class="btn btn-default" value="Kirjaudu"/>
    </div>
</form>
</div>
</div>

</div>
</body>