<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tamplr - Luo uusi tili</title>
    <div id="zwibbler" style="margin-left:auto;margin-right:auto;border:2px solid red;width:800px;height:600px;"></div>
    <link href='http://fonts.googleapis.com/css?family=Bree+Serif' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>  
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="http://zwibbler.com/"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
     </head>    
  <body>
      <!-- navigointi palkki
           <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
      <a class="navbar-brand" href="/"><div class="tamplr-logo-small">tamplr</div></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
          
      </ul>
        
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
    <script type="text/javascript">
            var ctx = Zwibbler.create("zwibbler", {
                showPropertyPanel: true,
                showColourPanel: true,
                debug: true
            });
            function addPhoto(ctx) {
                // In this example, when the button is clicked we insert an image into
                // the document. The image will not be resizable by the user.
                ctx.createNode("ImageNode", {
                //tahan sitten se image
                url: "http://crazy-frankenstein.com/free-wallpapers-files/seasonal-wallpapers/beautiful-summer-wallpapers/paradise-beautiful-summer-wallpapers-1024x768.jpg",
                lockSize: true
            });
            }

       addPhoto(ctx);
    </script>   
    
    <!--HTML forms are used to collect user input.-->

    </div>
  </body>
</html>