<!doctype html>
<html>
    <script src="http://zwibbler.com/zwibbler-demo.js"></script>
    <div id="zwibbler" style="margin-left:auto;margin-right:auto;border:2px solid red;width:800px;height:600px;"></div>
    <input type="button" onclick="onSave()" value="Save"/>
    <input id="loadButton" type="button" onclick="onLoad()" disabled="disabled" value="Load"/>
    <input type="button" onclick="onImage()" value="Open as image"/>
    <input type="button" onclick="zwibbler.onResize()" value="Open as image"/>
    <script src="http://code.jquery.com/jquery-1.8.2.min.js"></script>
    <script src="zwibbler2.js"></script>
    <script type="text/javascript">

        var zwibbler = Zwibbler.create("zwibbler", {
            showPropertyPanel: true,
            showColourPanel: true
        });

        var saved = null;
        function onSave() {
            saved = zwibbler.save("zwibbler3");
            $("#loadButton").removeAttr("disabled");
        }

        function onLoad() {
            zwibbler.load("zwibbler3", saved);
        }

        function onImage() {
            var dataUrl = zwibbler.save("png");
            window.open(dataUrl, "other");
        }
    </script>    
    <script>
        Zwibbler.addButton({
    // The name of the button, for debugging purposes.
    name: "kitty",

    // The image to show on the toolbar. This should be 50 pixels in width.
    // The URL will be used as-is, and the imageFolder configuration setting
    // will not be used for this image.
    //nappulan kuva!
    image: "http://crazy-frankenstein.com/free-wallpapers-files/seasonal-wallpapers/beautiful-summer-wallpapers/paradise-beautiful-summer-wallpapers-1024x768.jpg",

    // The function to be called when the button is clicked. The parameter is
    // the ZwibblerContext that will allow you to manipulate the drawing.
    onclick: function(ctx) {
        // In this example, when the button is clicked we insert an image into
        // the document. The image will not be resizable by the user.
        ctx.createNode("ImageNode", {
        	//tahan sitten se image
            url: "http://crazy-frankenstein.com/free-wallpapers-files/seasonal-wallpapers/beautiful-summer-wallpapers/paradise-beautiful-summer-wallpapers-1024x768.jpg",
            lockSize: true
        });
    }
});




       var ctx = Zwibbler.create("zwibbler", {});
    </script>   
</body>
</html>